.about {
  background-color: aquamarine;
  height: 100%;
}
.about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile_pic {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #39393a;
}
.about-col {
  width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vw;
  margin-top: 5vw;
}
.tag-line {
  text-align: center;
  margin-top: 2vw;
  padding-bottom: 2vw;
}
.resume {
  background-color: #39393a;
  height: 100%;
  color: #e6e6e6;
}
.resume-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.resume-col {
  width: 40vw;
  margin: 3vw;
  /* background-color: #297373; */
  border: 15px solid #FF595E;
  text-align: center;
}

hr {
  border: 3px solid #FF595E;
  width: 90%;
}
.resume-col > div > h3 {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  padding-top: 1vw;
  text-align: center;
}
.ssb-container {
  display: flex;
  flex-direction: row;
}
.ssb {
  width: 100%;
}
.ssb > h4 {
  font-weight: bold;
}
.ssb > ul {
  text-align: left;
}
.left > ul > li {
  margin: .5em;
}
.right > h6 {
  text-align: left;
  text-decoration: underline;
}
.vertical-line {
  margin: 1vw;
  border-left: 2px solid white;
  height: 100;
}
.resume-link > p {
  width: 80%;
  margin: auto;
}
.resume-icon {
  margin-top: 15%
}
.resume-link > small {
  margin: auto;
}
.projects {
  padding-top: 3vw;
  background-color: #e6e6e6;
}
.projects-body {
  width: 80%;
  margin: auto;
}
.card {
  width: 40%;
  margin: auto;
}
.projects-row {
  display: flex;
  flex-direction: row;
}
